<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="palestra.kotlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">

        <activity android:name="ru.pavlov.palestra.presentation.modules.welcome.welcomeparent.view.activity.WelcomeActivity"
            android:theme="@style/AppBaseTheme.WelcomeStyle">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name="ru.pavlov.palestra.presentation.modules.authentication.view.activity.AuthActivity"
                  android:theme="@style/AppBaseTheme.WelcomeStyle">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name="ru.pavlov.palestra.presentation.modules.registration.parent.view.RegistrationActivity"
                  android:theme="@style/AppBaseTheme.WelcomeStyle">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name="ru.pavlov.palestra.presentation.modules.main.view.activity.MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name="ru.pavlov.palestra.presentation.modules.event.create.parent.view.activity.CreateEventActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>